# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
# All inside tmp folder, but not the folder itself
tmp/
test-result
server.pid
*.eml
/dist/
.cache
# Idea Files #
*.iml
*.ipr
*.iws
*.DS_Store