<link href="@{'/public/stylesheets/modal-drop.css'}" rel="stylesheet">
<link href="@{'/public/stylesheets/big-loader.css'}" rel="stylesheet">
<script type="text/javascript" src="@{'/public/templates/dropzone/dropzone.js'}"></script>

<!-- Show the cropped image in modal -->
<div class="modal fade docs-cropped" id="imageEditorModal" role="dialog" aria-hidden="true"
     aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
    <div class="modal-dialog" style="width: 595px; height: 138px">
        <div class="modal-content">
            <!-- .modal-body -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="imageEditorTitle">Editar Foto</h4>
            </div>
            <!-- .modal-body -->
            <div class="modal-body" style="">
                <div id="image-upload-holder" class="display-none">
                    <div class="dz-preview dz-file-preview">
                        <div class="dz-details">
                        *{<div class="dz-filename"><span data-dz-name></span></div>}*
                            *{<div class="dz-size" data-dz-size></div>}*
                            *{<img data-dz-thumbnail/>}*
                        </div>
                    *{<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>}*
                    *{<div class="dz-success-mark"><span>✔</span></div>}*
                    *{<div class="dz-error-mark"><span>✘</span></div>}*
                    *{<div class="dz-error-message"><span data-dz-errormessage></span></div>}*
                    </div>
                </div>

            *{<button id="test">Teste</button>}*
                <!-- .preview-template -->
                <div id="preview-template" class="display-none">
                    <div class="dz-preview dz-file-preview">
                        <div class="dz-details">
                            <img id="aaa" data-dz-thumbnail/>

                            <div class="dz-filename"><span data-dz-name></span></div>
                            <div class="dz-size" data-dz-size></div>
                        </div>
                    </div>
                </div>

                <!-- .bigLoader -->
                <div id="big-loader" class="display-none"
                     style="position: relative; margin: -30px 0 0 -170px; padding-bottom: 70px">
                    <div class="cssload-big-loader"></div>
                </div>

                <!-- .upload-place -->
                <div id="upload-place" class="image-upload display-none">
                    <div class="modal-dropzone">
                        <div style="display: block;" class="modal-dropzone-default tab-page">

                            <form action="@{Ajax.getFile()}"
                                  class="dropzone modal-input-file"
                                  id="my-awesome-dropzone">asdasdadad
                            </form>

                            <div class="modal-dropzone-img"></div>

                            <p><b>Arraste e solte ou clique aqui</b>para fazer o upload de sua imagem (max 2 MiB)
                            </p>
                        </div>
                        <div style="display: none;" class="modal-dropzone-preview tab-page"></div>
                    </div>

                    <!-- .modal-option -->
                    <div class="modal-options display-none" style="margin-top: 18px">
                        <!-- Lin    k -->
                        <div class="modal-options-default modal-options-addlink tab-page display-none">
                            Você também pode adicionar um <a id="addlink" href="#">link da web</a>.
                        </div>
                        <!-- Link input -->
                        <div class="modal-options-url tab-page display-none">
                            Link da web
                            <input style="width: 180px" value="" class="modal-input-url user-input" name="upload-url"
                                   placeholder="http://exemplo.com/imagem.png" type="text">
                            <span class="modal-options-separator">|</span>
                            <a class="modal-options-cancel" href="#">Cancel</a>
                        </div>
                        <!-- Cancel -->
                        <div class="modal-options-preview tab-page display-none">
                            <a class="modal-options-cancel" href="#">Cancel and add another image</a>
                        </div>
                        <!-- Load -->
                        <div class="modal-options-uploading tab-page display-none">
                            <div class="cssload-loader"
                                 style="position: relative; margin: 0 0 0 250px; padding-top: 10px;"></div>
                        </div>
                        <!-- Error -->
                        <div class="modal-options-error tab-page display-none">
                        *{//TODO colocar em css}*
                            <span style="color: red; font-weight: bold" class="modal-options-error-message"></span>
                            <span class="modal-options-separator">|</span>
                            <a class="modal-options-cancel" href="#">Cancelar</a>
                        </div>
                    </div>
                </div>


                <!-- .cropper-place -->
                <div id="cropper-place" style="margin-left: 20px">
                    <div style="position: absolute; z-index: 1; margin-left: 360px; margin-top: 50px; ">
                        <div><span>Pre-vizualização</span></div>
                        <div class="img-preview preview-default"></div>
                    </div>
                    <!-- Upload image and data -->
                    <div class="avatar-upload">
                        <label for="avatarInput">Editar</label>
                    </div>

                #{cropper /}

                </div>

            </div>
            <!-- /.modal-body -->
            <!-- .modal-footer -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <buton class="btn btn-primary" id="imageEditorModal-ok">Ok</buton>
            </div>
            <!-- /.modal-footer -->
        </div>
    </div>
</div><!-- /.modal -->

