#{extends 'main.html' /}
#{set title:'Ponto RH' /}

<!--*FORMREGISTER-->

<form action="@{controllers.Application.registerPeriod}" name="registerForm">
    <section>
        <table class="no-flash fashion">
            <thead>
            <tr>
                <th colspan="2" style="text-align: center">Registro De Horário de ${timeIn ? 'Saída' : 'Entrada'}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 120px">Data:</td>
                <td>${today.format()}</td>
            </tr>
            <tr>
            *{TODO} alterar para saber se deve colocar*}*
            #{if timeIn}
                <td>Hora de Entrada:</td>
                <td>${timeIn}</td>
            #{/if}
            </tr>
            <tr>
                <td>Hora:</td>
                <td id="clock"></td>
            </tr>
            <tr>
                <td> OBS:</td>
                <td style="padding: 5px 20px 5px 0px">
                    <div class="input-group">
                                        <textarea tabindex="1" name="msg" class="form-control custom-control" rows="3"
                                                  style="resize:none"></textarea>
                                        <span style="margin-right: 10px" id="send" tabindex="2"
                                              onclick="registerForm.submit()" type="submit"
                                              class="input-group-addon btn btn-primary"> Registrar</span>
                    </div>

                </td>
            </tr>
            *{<tr>}*
            *{<td colspan="2" style="text-align: center"><input type="submit" value="Registrar"}*
            *{class="btn btn-primary"></input></td>}*
            *{</tr>}*
            </tbody>
        </table>

    </section>
</form>


<div style="margin-top: 100px">

    <div>
        <table id="legendas" class="" width="60%">
            <tbody>
            <tr>
                <td><img src="@{'/public/images/user_comment.png'}"/>
                    <span>Observação registrada pelo usuário referente ao ponto</span>
                </td>
                <td><img src="@{'/public/images/edit-comment2.png'}"/>
                    <span>Registrar Observação</span>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <!--*FORMFILTER-->
    <form action="@{controllers.Application.filterDate}" name="filterDateForm">
        <div class="input-group" style="float: right; width: 145px; left: -150px">
            <input placeholder="Filtrar data" name="date" id="date-picker" type="text"
                   class="form-control" value="${filterDate?.format()}">
            <span class="input-group-addon btn btn-primary" onclick="filterDateForm.submit()">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </form>

    <!--*TABS-->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-left: 150px; width: 70%">
        <li role="presentation" class="active">
            <a href="#week" aria-controls="week" role="tab" data-toggle="tab">Horários da Semana</a>
        </li>
        <li role="presentation"><a href="#month" aria-controls="month" role="tab" data-toggle="tab">Horários
            do Mês</a>
        </li>
    </ul>


    <!--*TABSPANEL-->
    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: -40px">

    #{display tree:wdWeekTree, as:'week', time:wTime, reportDate:reportDate/}

            #{display tree:wdMonthTree, as:'month', time:mTime, reportDate:reportDate/}

    </div>

</div>
</div>

#{modalEditPanel /}
#{modalShowPanel /}

<script>

    $(document).ready(function () {
        $("#send").focus();  //Focus on register button to allow the user register quickly
        startTime();
    });

    //Show alert in modal window
    function showModalAlert(f) {
        if (f == true) {
            $(".modal .alert").fadeIn(500);
        } else {
            $(".modal .alert").hide();
        }
    }

    //Show load image in modal window
    function showLoad(f) {
        if (f) {
            $(".modal-header .cssload-loader").removeClass("elm-hidden");
        } else {
            $(".modal-header .cssload-loader").addClass("elm-hidden");
        }
    }

    //*RELOGIO
    //Create a clock to put in the view
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();

        m = m < 10 ? ("0" + m) : m;
        s = s < 10 ? ("0" + s) : s;

        $('#clock').html(h + ":" + m + ":" + s);

        var t = setTimeout(startTime, 1000);
    }

    //*SCRIPT
    var elementHolder, jqxhr;

    //*MODAL EDIT PANEL
    $('#modalEditPanel').on('show.bs.modal', function (e) {

        showModalAlert(false);
        var button = $(e.relatedTarget); // Button that triggered the modal
        elementHolder = button;          //put it global to external access

        // Extract info from data-* attributes
        var comment = $(button).attr('data-wdcomment');
        var id = button.data('wdid');

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        //Get the WorkDay message and fill the main and the aux textareas
        modal.find('.modal-body textarea#workday-comment-editor').val(comment);
        modal.find('.modal-body textarea#workday-comment-aux').val(comment);
        modal.find('.modal-body input').val(id);
    }).modal({
        backdrop: 'static', //click anywhere out of modal don' close it
        show: false         // Initialize hidden
    });


    //*MODAL SHOW PANEL
    $('#modalShowPanel').on('show.bs.modal', function (e) {

        var button = $(e.relatedTarget); // Button that triggered the modal
        var edit = $(button).closest("tr").find(".edit-comment");

        // Extract info from data-* attributes
        var comment = $(edit).attr('data-wdcomment');

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        //Get the WorkDay message and fill the main and the aux textareas
        modal.find('.modal-body #show-panel-comment').text(comment);


    }).modal({
        backdrop: 'static', //click anywhere out of modal don' close it
        show: false         // Initialize hidden
    });


    $('#modalShowPanel, #modalEditPanel').on('shown.bs.modal', function (e) {
        resetModal(false, false, true);
        autoheight($(this).find(".expanding"));
    });

    //Ajusta a text area para o tamanho do texto
    function autoheight(a) {
//        $(a).animate({height: "60px"});
//        $(a).css('height', "60px");
        if (!$(a).prop('scrollTop')) {
            do {
                var b = $(a).prop('scrollHeight');
                var h = $(a).height();
                $(a).height(h - 5);
            }
            while (b && (b != $(a).prop('scrollHeight')));
        }

        var height = $(a).prop('scrollHeight');
        console.log(height);
        if (height < 60) {
            $(a).css('height', '100');
        } else {
            $(a).animate({height: height});
        }
//        $(a).height($(a).prop('scrollHeight'));
    }

    //    *AJAX
    $("button#save-workday-comment").click(function () { //On click save button


        // get the comment msg from modal windows and compare if it has been modified
        var txt = $(".modal-body textarea#workday-comment-editor").val(); //Modified text
        var aux = $(".modal-body textarea#workday-comment-aux").val(); //Original text
        if (txt !== aux) { //if comment has been modified

            resetModal(false, true, false);


            jqxhr = $.ajax({
                url: "@{Ajax.editComment}",
                type: 'POST',
                data: $("#comment-form").serialize(),
                beforeSend: function () { //cancel previous ajax call

                    if (jqxhr != null) {
                        jqxhr.abort();
                    }
                },

                success: function (d) {

                    $("#modalEditPanel").modal('hide');

                    //Update
                    //Id pego do modal para indentificar os elementos a serem atualizado
                    //(elementos = edit button da aba seman e mensal)
                    var wdid = elementHolder.attr('data-wdid')
                    var el = $('img[data-wdid=' + wdid + ']');    //elements (week and/or month) that hold the comments
                    $(el).attr('data-wdcomment', d.data.comment);
                    var userCommentIcon = $('img[data-wdid=wd-comment-' + wdid + ']');  //UserCommentIcon (week and month)
                    if (isStringEmpty(d.data.comment)) {
                        $(userCommentIcon).hide();  //Hide user-comment-icon
                        showNotification('Observação Removida');
                    } else {
                        $(userCommentIcon).show();  //Show user-comment-icon
                        showNotification('Observação registrada com sucesso');
                    }

                    resetModal(false, false, true);
                },
                error: function () {
                    resetModal(true, false, true);
                }

            });
        } else {//text hasn't been modified
            $("#modalEditPanel").modal('hide');
        }
    });

    $(".modal-footer #cancel, .modal-header .close").click(function () {//Close modal
        //Remove elements

        //cancels previous ajax requisition
        if (jqxhr != null) {
            jqxhr.abort();
        }

    });

    //Reseta o modal e executa comando dependendo dos valores dos argumentos
    //Primeiro argumento Show Alert
    //Segundo argumento desabilita o botao de salval comentario
    function resetModal(showAlert, shLoad, enableButton) {
        showModalAlert(showAlert);
        showLoad(shLoad);
        if(enableButton){
            $("#save-workday-comment").removeAttr('disabled');
        }else{
            $("#save-workday-comment").attr('disabled', 'disabled');
        }
    }


    //    *DATEPICKER
    $('#date-picker').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,   //monday
        startView: 1,   //month
        maxViewMode: 2, //years
        todayBtn: "linked",
        language: "pt-BR",
        forceParse: false,
        todayHighlight: true,
        toggleActive: true,
        immediateUpdates: true,
        autoclose: true,
    });

    //*ENTER PARA REGISTRAR
    $(document).keypress(function (e) {
        if (e.which == 13 && $("#send").is(":focus")) {
            $("#send").click();
        }
    });


    //    $.notify({
    ////        icon: 'https://randomuser.me/api/portraits/med/men/77.jpg',
    ////        title: 'Byron Morgan',
    //        message: 'Momentum reduce child mortality effectiveness incubation empowerment connect.'
    //    }, {
    //
    //        allow_dismiss: false,
    //        position: null,
    //        type: 'minimalist',
    //        offset: 10,
    //        spacing: 110,
    //        z_index: 1031,
    //        delay: 2000,
    //        timer: 1000,
    //        placement: {
    //            from: 'top',
    //            align: 'center'
    //        },
    //
    //    });

    //    setTimeout(function() {
    //        $.notifyClose();
    //    }, 3000);

    function isStringEmpty(s) {
        if (s == null) {
            return true;
        } else {
            if (s.length == 0) {
                return true;
            }
        }
        return false;
    }

    autosize($("#workday-comment-editor"));

</script>

</head>


<!--*NOTIFICATIONS BOOTSTRAP-->
*{http://bootstrap-notify.remabledesigns.com/}*
