#{extends 'main.html' /}
#{set title:'Ponto RH' /}

<!--*FORMREGISTER-->
<form action="@{controllers.Application.registerPeriod}" name="registerForm">
    <section>
        <table class="no-flash fashion">
            <thead>
            <tr>
                <th colspan="2" style="text-align: center">Registro De Horário de Entrada</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 120px">Data:</td>
                <td>${today.format()}</td>
            </tr>
            <tr>
            *{TODO} alterar para saber se deve colocar*}*
            #{if timeIn}
                <td>Hora de Entrada:</td>
                <td>${timeIn}</td>
            #{/if}
            </tr>
            <tr>
                <td>Hora:</td>
                <td id="clock"></td>
            </tr>
            <tr>
                <td> OBS:</td>
                <td style="padding: 5px 20px 5px 0px">
                    <div class="input-group">
                                        <textarea tabindex="1" name="msg" class="form-control custom-control" rows="3"
                                                  style="resize:none"></textarea>
                                        <span style="margin-right: 10px" id="send" tabindex="2"
                                              onclick="registerForm.submit()" type="submit"
                                              class="input-group-addon btn btn-primary"> Registrar</span>
                    </div>

                </td>
            </tr>
            *{<tr>}*
            *{<td colspan="2" style="text-align: center"><input type="submit" value="Registrar"}*
            *{class="btn btn-primary"></input></td>}*
            *{</tr>}*
            </tbody>
        </table>

    </section>
</form>


<div style="margin-top: 100px">

    <!--*FORMFILTER-->
    <form action="@{controllers.Application.filterDate}" name="filterDateForm">
        <div class="input-group" style="float: right; width: 145px; left: -150px">
            <input name="date" id="date-picker" type="text" class="form-control custom-control"
                   value="${date?.format()}">
                            <span onclick="filterDateForm.submit()"
                                  class="input-group-addon btn btn-primary"> Ok</span>
        </div>
    </form>


    <!--*TABS-->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-left: 150px; width: 70%">
        <li role="presentation" class="active">
            <a href="#week" aria-controls="week" role="tab" data-toggle="tab">Horários da Semana</a>
        </li>
        <li role="presentation"><a href="#month" aria-controls="month" role="tab" data-toggle="tab">Horários
            do Mês</a>
        </li>
    </ul>


    <!--*TABSPANEL-->
    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: -40px">

    #{display tree:wdWeekTree, as:'week', time:wTime /}

            #{display tree:wdMonthTree, as:'month', time:mTime /}

    </div>

</div>
</div>

#{modal /}

<script>

    $(document).ready(function () {
        $("#send").focus();  //Focus on register button to allow the user register quickly
        startTime();
        console.log(document.cookie);
    });

    //Show alert in modal window
    function showModalAlert(f) {
        if (f == true) {
            $(".modal .alert").fadeIn(500);
        } else {
            $(".modal .alert").hide();
        }
    }

    //Show load image in modal window
    function showLoad(f) {
        if (f == true) {
            $(".modal-header .cssload-loader").removeClass("elm-hidden");
        } else {
            $(".modal-header .cssload-loader").addClass("elm-hidden");
        }
    }

    //*RELOGIO
    //Create a clock to put in the view
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();

        m = m < 10 ? ("0" + m) : m;
        s = s < 10 ? ("0" + s) : s;

        $('#clock').html(h + ":" + m + ":" + s);

        var t = setTimeout(startTime, 1000);
    }

    //*SCRIPT
    var elementHolder, jqxhr;

    //*MODAL
    $('#modalPanel').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget); // Button that triggered the modal
        elementHolder = button;          //put it global to external access

        // Extract info from data-* attributes
        var comment = $(button).attr('data-wdcomment');
        var id = button.data('wdid');

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        //Get the WorkDay message and fill the main and the aux textareas
        modal.find('.modal-body textarea#workday-comment-editor').val(comment);
        modal.find('.modal-body textarea#workday-comment-aux').val(comment);
        modal.find('.modal-body input').val(id);
    }).modal({
        backdrop: 'static', //click anywhere out of modal don' close it
        show: false         // Initialize hidden
    });


    //    *AJAX
    $("button#save-workday-comment").click(function () {

        // get the comment msg from modal windows and compare if it has been modified
        var txt = $(".modal-body textarea#workday-comment-editor").val();
        var aux = $(".modal-body textarea#workday-comment-aux").val();

        if (txt !== aux) { //if it's been modified

            showLoad(true);
            showModalAlert(false);

            jqxhr = $.ajax({
                url: "@{Ajax.editComment}",
                type: 'POST',
                data: $("#comment-form").serialize(),
                beforeSend: function () { //cancel previous ajax call
                    if (jqxhr != null) {
                        jqxhr.abort();
                    }
                },
                success: function (d) {
                    $("#modalPanel").modal('hide');

                    //Update
                    //Id pego do modal para indentificar o elemento a ser atualizado
                    var wdid = elementHolder.attr('data-wdid')
                    var el = $('img[data-wdid=' + wdid + ']');    //elements that hold the comments (week and/or month)
                    $(el).attr('data-wdcomment', d.data.comment);
                    if (isStringEmpty(d.data.comment)) {
                        $(el).addClass('not-displayable');
                    } else {
                        $(el).removeClass('not-displayable');
                    }
                    showNotification();
                },
                error: function () {
                    showModalAlert(true);
                },
                complete: function () {
                    showLoad(false);

                }

            });

        } else {
            $("#modalPanel").modal('hide');
            showLoad(false);
            showModalAlert(false);
        }


    });

    $(".modal-footer #cancel, .modal-header .close").click(function () {
        showLoad(false);
        showModalAlert(false);

        //cancels previous ajax requisition
        if (jqxhr != null) {
            jqxhr.abort();
        }

    });


    //    *DATEPICKER
    $('#date-picker').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 1,   //monday
        startView: 1,   //month
        maxViewMode: 2, //years
        todayBtn: "linked",
        language: "pt-BR",
        forceParse: false,
        todayHighlight: true,
        toggleActive: true,
        immediateUpdates: true,
        autoclose: true,
    });

    //*ENTER PARA REGISTRAR
    $(document).keypress(function (e) {
        if (e.which == 13 && $("#send").is(":focus")) {
            $("#send").click();
        }
    });


    function showNotification() {
        $.notify({
            // options
            message: 'Observação registrada com sucesso.'
        }, {
            allow_dismiss: false,
            position: null,
            type: 'centred',
            z_index: 1031,
            delay: 2000,
            timer: 1000,
            placement: {
                from: 'top',
                align: 'center'
            },
        });
    }


    //    $.notify({
    ////        icon: 'https://randomuser.me/api/portraits/med/men/77.jpg',
    ////        title: 'Byron Morgan',
    //        message: 'Momentum reduce child mortality effectiveness incubation empowerment connect.'
    //    }, {
    //
    //        allow_dismiss: false,
    //        position: null,
    //        type: 'minimalist',
    //        offset: 10,
    //        spacing: 110,
    //        z_index: 1031,
    //        delay: 2000,
    //        timer: 1000,
    //        placement: {
    //            from: 'top',
    //            align: 'center'
    //        },
    //
    //    });

    //    setTimeout(function() {
    //        $.notifyClose();
    //    }, 3000);

    function isStringEmpty(s) {
        if (s == null) {
            return true;
        } else {
            if (s.length == 0) {
                return true;
            }
        }
        return false;
    }

</script>

</head>


<!--*NOTIFICATIONS BOOTSTRAP-->
*{http://bootstrap-notify.remabledesigns.com/}*
